@import "~src/scss/base";

@mixin button-common {
    border: none;
    border-radius: $common-border-radius;
    font-weight: 700;
    padding: 0.5em;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;

    &:hover:not(:disabled) {
        cursor: pointer;
    }
}

.blank-button {
    @include button-common();
    color: $white;
}

.info-button {
    @include button-common();
    background: $white;
    color: $black;

    &--invalid {
        background: $black;
        color: $white;
    }
}

.grey-button {
    @include button-common();
    background: $grey;
    color: $white;
}

button:disabled {
    cursor: not-allowed;
}
