@import "~src/scss/base";

:host {
    flex: 0 0 100%;

    @include mq-min($md) {
        flex: 0;
    }
}

.article-detail-wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    background: $grey;
    padding: 1em;
    border-radius: $common-border-radius;
    margin: 1em;
    color: $black;

    @include mq-min($md) {
        width: 270px;
    }

    &__data {
        word-wrap: break-word;
        :not(:first-child) {
            margin-top: 0.6em;
        }
    }

    &__action-buttons {
        display: inherit;
        margin-top: 0.6em;

        :first-child {
            margin-right: 0.5em;
        }
    }
}
