@import "~src/scss/base";

.articles-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    border-radius: $common-border-radius;
    padding: 0 2em;

    &__no-articles {
        color: $white;
        text-align: center;
        font-weight: 700;
        font-size: 1.1em;
    }
}
